<p id="notice"><%= notice %></p>

<p>
  <strong>Node name:</strong>
  <%= @node.node_name %>
</p>

<p>
  <strong>Place:</strong>
  <%=Place.find(node.place_id).place_name %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
