<%= form_for(state,:remote=>true) do |f| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group">
        <label class="col-sm-2 control-label">State_name</label>
        <div class="col-md-3 inputGroupContainer">
         <%= f.text_field :state_name,:class=>"form-control" %>
          </div>
          </div>
        </div>

         <div class="form-group">
        <label class="col-sm-2 control-label">country_name</label>
      <div class="col-sm-4  inputGroupContainer">
      <%= f.select(:country_id, Country.all.collect {|u| [u.country_name, u.id]},{},:prompt => 'Select Category',:class=>"form-control") %> 
        </div></br></br></br></br>
  
  

<div class="form-group">
        <label class="col-sm-1 control-label"></label>
      <div class="col-sm-2  inputGroupContainer">
         <%= f.submit :class=>"btn btn-success"%>
        </div>
<% end %>

