<%= form_for(company,:remote=>"true") do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  
<div class="form-group">
        <label class="col-sm-1 control-label">name</label>
        <div class="col-sm-8  inputGroupContainer">
        <%= f.text_field :name,:class=>"form-control" %>
          </div>
          </div></br></br>
   
<div class="form-group">
        <label class="col-sm-1 control-label">country</label>
        <div class="col-sm-3  inputGroupContainer">
       <%= f.select(:country_id, Country.all.collect {|u| [u.country_name, u.id]},{},:prompt => 'Select Category',:class=>"form-control") %>
          </div>
        </div>
        
  <div class="form-group">
        <label class="col-sm-1 control-label">state</label>
        <div class="col-sm-3  inputGroupContainer">
          <div class="statecontainer">
        <%= f.select(:state_id, State.all.collect {|u| [u.state_name, u.id]},{},:prompt => 'Select Category',:class=>"form-control") %>
          </div>
        </div>
        </div>

  <div class="form-group">
        <label class="col-sm-1 control-label">city</label>
        <div class="col-sm-1  inputGroupContainer">
          <div class="citycontainer">
         <%= f.select(:city_id, City.all.collect {|u| [u.city_name, u.id]},{},:prompt => 'Select Category',:class=>"form-control") %>
          </div>
        </div>
        </div></br></br>



<div class="form-group">
    <label class="col-sm-1 control-label">postcode</label>
    <div class="col-sm-2  inputGroupContainer">
      <%= f.text_field :postcode,:class=>"form-control" %>
    </div>
  </div>

  
   <div class="form-group">
    <label class="col-sm-1 control-label">Start_date</label>
    <div class="col-sm-2  inputGroupContainer">
     <%= f.text_field :start_date, :id => 'datetimepicker1' %>
    </div>
  </div>

   <div class="form-group">
        <label class="col-sm-1 control-label">Active</label>
      <div class="col-sm-1  inputGroupContainer">
        <%= f.check_box :active %>
        </div>
    </div></br></br>

    <div class="form-group">
        <label class="col-sm-1 control-label">Active</label>
      <div class="col-sm-1  inputGroupContainer">
         <%= f.submit :class=>"btn btn-success"%>
        </div>
    </div
<div class="actions">
    
  
<% end %>

<script>
$(document).ready(function() {
$('#company_country_id').change(function(){
  var country =  $('#company_country_id').val()
  alert(country)
  $.ajax({
    url: "/states/get_states",
    type: "GET",
    data: {country: country},
  });
});
});
</script>

<script type="text/javascript">

            $(function () {
                $('#datetimepicker1').datetimepicker();
                $('#datetimepicker2').datetimepicker();
            });
        </script>



