<%= form_for(country) do |f| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
        <label class="col-md-2 control-label">country_name</label>
      <div class="col-md-8  inputGroupContainer">
         <%= f.text_field :country_name,:class=>"form-controller"%>
        </div>
    </div></br></br>

 

<div class="form-group">
        <label class="col-sm-1 control-label"></label>
      <div class="col-sm-1  inputGroupContainer">
         <%= f.submit :class=>"btn btn-success btn-md"%>
        </div>
    </div>
<% end %>
