<%= form_for(place) do |f| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :place_name %>
    <%= f.text_field :place_name %>
  </div>
  <br>

  <div class="field">
    <%= f.label :nodeName %>
    <%= f.text_field :nodename %>
  </div>
  <br>

  <div class="field">
    <%= f.label :company_id %>
    <%= f.select(:company_id, Company.all.collect {|u| [u.name, u.id]},:prompt => 'Select Category',:class=>"form-control") %>
   
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
