<!DOCTYPE html>
<html>
  <head>
    <title>UserAuth</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-static-top" style="background-color: #d5cdc3;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">User Details</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height:1px;">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/manages">Users</a></li>
            <li><a href="/admin">Admin</a></li>
            <li class=""><a href="/companies">Company <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Location <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href= "/cities/new" >New city</a></li>
                <li><a href="/states/new">New state</a></li>
                <li><a href="/countries/new">New Country</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="/regions/new">New Region</a></li>
                <li><a href="/nodes/new">New Node</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
            <li><%= link_to 'Login', login_page_images_path, :remote => true, 'data-toggle' => "modal", 'data-target' => '#loginModal' %></li>
            <li><a href="/manages/new">Register</a></li>
            <% end%>
            <li><a href="/places/new">Add Place</a></li>
            <li><a href="/user_regions/new">UserToRegion</a></li>
             <li><a href="/user_roles/new">User Role</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br>
    <%= yield %>
    <br><br><br>
 
        <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title"> Login </h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
       
      </div>
     </div>
    </div>
</div>

<style type="text/css">
body{
  background-color: lightcyan;
  background-image: url(<%= asset_path('19.jpg')%>);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  .dropdown-menu li:hover{
  visibility: visible;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #8f9dc1;
  }
 
</style>
